.button{
    height:50px;
}
.token{
    padding:10px;
    color: black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    max-height: 250px;
    min-height: 100px;
    box-sizing: border-box; 
}